/* Following style sheet is used to style the webpage of FitKO*/

* {
    box-sizing: border-box;
}

body {
    width: 980px;
    margin: 0 auto;
    max-height: 100%;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
    color: inherit;
}

::selection {
    background: #FFA22A;
    color: #FFF;
}

.features {
    text-align: center;
}

.section-block {
    text-align: center;
}

.phone {
    position: relative;
}

.phone-cover {
    margin: 0 auto;
    display: block;
    height: 608.25px;
    width: 300.32px;
    background-color: #EEEEEE;
    border-radius: 24px;
    box-shadow: 8px 10px 30px -2px rgba(35, 111, 164, 0.2);
}

.phone::after {
    content: "";
    position: absolute;
    background-color: #FFF;
    width: 285.32px;
    height: 593.25px;
    left: 50%;
    margin-left: -142.66px;
    top: 50%;
    margin-top: -296.625px;
    border-radius: 16px;
}


/* SECTION LAYOUT */
.section-block {
    padding-top: 65px;
    padding-bottom: 32.5px;
}




/* ICON LAYOUT */
.icon-block {
    text-align: center;
}

.icon {
    color: #FFA22A;
}


/* ABOUT */
.about {
    padding-top: 130px;
}

/* SHOPPING CARD */
.card-section {
    margin-bottom: 30px;
}

/* FOOTER LAYOUT */
.footer {
    padding-top: 65px;
    padding-bottom: 35px;
}

.footer h1 span:nth-child(2) {
    color: #FFA22A;
    text-transform: lowercase;
}

.footer h1 span {
    margin-right: -2px;
}
.footer li {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    display: block;
    margin-bottom: 12px;

}

