h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #2D3749;
}

h1, h2 {
    letter-spacing: 0.378rem;
}

h1 {
    font-size: 5.625rem; /* 90px / 16px*/
    font-weight: 500;
}

h2 {
    font-size: 3.125rem; /* 50px / 16px */
    font-weight: 400;
}

h3 {
    font-size: 1.875rem; /* 30px / 16px */
}

h4 {
    font-size: 1.5625rem; /* 25px / 16px */
    font-weight: 400;
}

h5 {
    font-size: 1.25rem; /* 20px / 16px */
}

h6 {
    font-size: 0.75rem;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem; /* 16px / 16px */
    font-weight: 300;
    line-height: 1.5;
    color: #2D3749;
    opacity: 70%;
}

/* HERO FONT STYLE */
.hero-title, .hero-sub-title {
    letter-spacing: 0.3125rem; /* 5px / 16px */
    color: #FFF;
}
.hero-title span:nth-child(2) {
    color: #FFA22A;
}

/* LOGO FONT */
.logo {
    font-weight: 400;
    text-align: center;
}

.logo-letter {
    margin-right: -0.125rem; /* -2px / 16px */
}

.logo-letter:nth-child(2) {
    color: #FFA22A;
    text-transform: lowercase;
}

/*SECTION NUMBER*/
.section-number {
    font-family: 'Teko', sans-serif;
    font-size: 13.125rem;
    color: #9EA3AE;
    opacity: 15%;
}

.section-description {
    margin-top: 0;
}

.section-title span {
    text-transform: lowercase;
    color: #FFA22A;
}