.hero-banner {
    position: relative;
}

.hero-banner img {
    filter: blur(2.5px);
}

.hero-banner::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #2D3749;
    opacity: 0.2;
    top:0; 
    left: 0;
}

.hero-caption {
    width: 77.55102040816327%; /* (760px/980px) * 100 */
    position: absolute;
    top: 50%;
    left: 8.163265306122449%; /* (80px/980px) * 100 */
    margin-top: -15.21310517732395%; /* (-100px/657.328px) * 100 */
    z-index: 1;
}