/* HEADER */
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

/* NAVIGATIONAL BAR */
.navbar {
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar a:hover {
    color: #FFA22A;
    transition-duration: 0.2s;
}

.nav-item {
    margin: 0 15px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 1px;
}

